@import 'partials/_variables';
@import 'partials/_base';

@import 'partials/_template';
@import 'partials/_page';

@import 'partials/_forms';
@import 'partials/_typography';

@import 'partials/_utilities';

@import 'partials/_shame';

// WCGA 2.1
@import 'partials/_palette';
@import 'partials/_focus';

.govuk-caption-xl {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11111;
  display: block;
  margin-bottom: 5px;
  color: #6f777b;
}

@media print {
  .govuk-caption-xl {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .govuk-caption-xl {
    font-size: 27px;
    line-height: 1.11111;
  }
}

@media print {
  .govuk-caption-xl {
    font-size: 18pt;
    line-height: 1.15;
  }
}